[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=forking
User={{ zookeeper_user }}
Environment=ZOO_LOG_DIR={{ zookeeper_log_dir }} JAVA_HOME={{ java_home_location.stdout }}
ExecStart={{ zookeeper_install_dir }}/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target
